<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>AIR</title>
</head>

<body>

<div class="container">
    <h2>File Upload</h2>

    <%= typeof msg != 'undefined' ? msg : '' %>

    <form action="/upload" method="POST" enctype="multipart/form-data">

        <input type="file" name="uploadimage" class="input-field"  >
 
        <input type="text" name="tag" placeholder="Tag" class="input-field"></textarea> 
        
        <button type="submit" class="waves-effect waves-light btn">Upload</button>
        
    </form>
</div>


</body>
</html>